
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Esthetics Admin - Clean &amp; Responsive Admin Template</title>
<base href="http://www.feitm.com/statics/" />
<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="scripts/script.js"></script>
<link href='css/css.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="scripts/charts/area-chart.js"></script>
<script type="text/javascript" src="scripts/charts/bar-chart.js"></script> 
<script type="text/javascript" src="scripts/charts/pie-chart.js"></script>
</head>

<body>
  {Fei:include file="Public/nav.html"}
    <!--NAV ENDS HERE-->
  
  
  <div class="main">
  
 {Fei:include file="Public/notice.html"}
    
  <div class="shortable-content">
  
      <div class="box _100">
        <div class="box-header">
        个人信息
        <i class="icon-remove-sign close" title="Close"></i>
        <i class="icon-minus-sign minimize" title="Minimize/Maximize"></i>
        </div>
        
        <div class="box-content padd-10">
        
          <div id="avtar">
          <img src="images/avatar.png" />  
          </div>
          
          <div id="avtar_details">
           <h3>熊寿长 <small>技术部</small></h3>
           <ul class="info">
               <li> <a href="javascript:void(0);"> <strong>42</strong> <small>项目</small> </a> </li>
               <li> <a href="javascript:void(0);"> <strong>5,216</strong> <small>BUG</small> </a> </li>
               <li> <a href="javascript:void(0);"> <strong>106</strong> <small>信息</small> </a> </li>
           </ul>
          </div>
          
          <div class="clear_fix"></div>
          
          <hr />
          <ul class="list-style gray padd-10">
              <li>出生年月日 : 2012年12月12日</li>
              <li>户籍所在地 : 湖北黄冈</li>
              <li>性别 : 男</li>
              <li>血型 : AB</li>
              <li>邮箱 : syrdxb@126.com</li>
              <li>QQ : 398397685</li>
              <li>身份证 : 42122154545145214</li>
              <li>居住详细地址 : 西湖区吴山天地3撞4单元1202</li>
              <li>手机 : 13506710613</li>
              
          </ul>
        
        </div>
    </div><!--PROFILE PAGE ENDS HERE-->
    
      
  </div><!--SHORTABLECONTENT-ENDS-->

  </div><!--MAIN ENDS-->
</body>
</html>
