/*----------------------------------------*/
/*----- nivo slider style -----*/
/*----------------------------------------*/

/*--- nivo slider typogrphy and other caption styles to edit ---*/
.nivo-caption {
	color: #7f7f7f;
}
.nivo-caption .heading1 {
	font-size: 28px;
	color: #525f90;
	line-height: 1em;
	margin-bottom: 20px;
	display: block;
}
.nivo-caption .heading2 {
	font-size: 16px;
	margin-bottom: 15px;
	color: #525f90;
	display: block;
}
.nivo-caption .heading3 {
	font-size: 14px;
	color: #7f7f7f;
	margin-bottom: 0px;
	display: block;
}
.nivo-caption a:hover {
	text-decoration: underline;
}
.nivo-caption ul.list3 li {
	background: url(../images/bullets/bullet-3.png) no-repeat 0 3px !important;
	padding-left: 25px;
	margin-bottom: 7px;
	list-style: none;
	display: block;
}
/*--- nivo slider typogrphy ends ---*/

#slideshow {
	background: url(../images/nivo-slider-frame.png) no-repeat;
	width: 912px;
	height: 350px;
	padding: 14px;
	margin-bottom: 30px;
	clear: both;
}
#slider {
	background: url(../images/loader.gif) no-repeat 50% 50% transparent;
	width: 912px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	position: relative;
	z-index: 1;
}
#slider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 9;
}
#slider a {
	border: 0;
	display: block;
}
/* The Nivo Slider styles */
.nivoSlider {
	position: relative;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 60;
	display: none;
}
/* The slices in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 50;
	height: 100%;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
}
/* Caption styles */
.nivo-caption {
	position: absolute;
	right: 50px;
	right: -350px;
	bottom: 40px;
	background: url(../images/nivo-slider-text-bg.png) repeat;
	opacity: 1; /* Overridden by captionOpacity setting */
	width: 300px;
	z-index: 89;
	behavior: url(js/PIE.htc);
	padding: 20px;
}
.caption-hide {
	display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	background: url(../images/arrows.png) no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 45%;
	z-index: 99;
	cursor: pointer;
	display: block;
	text-indent: -9999px;
	border: 0;
}
a.nivo-nextNav {
	background-position :-30px 0;
	right: 15px;
}
a.nivo-prevNav {
	left: 15px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position: relative;
	z-index: 9;
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}
