/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider .slides li img {background-color:#3fa3c9;}
.flexslider {margin: 0 auto;min-height:435px;width:1000px;background:url(../images/moover/moover_bg.png) repeat-x;position: relative;zoom: 1;}
.flexslider:before {content:'';display:block;width:100%;height:48px;position:absolute;top:0;left:0;background:url(../images/moover/moover_shadow.png) center top no-repeat;z-index:1;}
.flex-viewport {max-height:435px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height:435px;}
.flexslider .slides {zoom: 1;}
.flexslider .slides li {position:relative;}

.carousel li {margin-right: 5px}
.flex-caption {background:#000;color:#fff;padding:18px 30px 0 30px;height:42px;width:940px;position:absolute;top:368px;left:0;opacity:.8;}


/* Direction Nav */
.flex-direction-nav a {width:20px; height:20px; margin:0; display: block; background: url(../images/flex/bg_direction_nav.png) no-repeat 0 0; position: absolute; top:-1px; cursor: pointer; text-indent: -9999px;  -webkit-transition: all .3s ease;z-index:2;}
.flex-direction-nav .flex-next {background-position: 100% 0; right:31px; }
.flex-direction-nav .flex-prev {right:51px;}
.flexslider:hover .flex-next {right:31px;}
.flexslider:hover .flex-prev {right:51px;}
.flexslider:hover .flex-next:hover {background-position: 100% -20px;}
.flexslider:hover .flex-prev:hover {background-position:0 -20px;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom:-10px; text-align: center;background:#fff;}
.flex-control-nav li {margin:0 1px 0 0; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:last-child {margin-right:0;}
.flex-control-paging li a {width:166px;height:13px;display: block; background:#cccbcb; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li:last-child a {width:165px;}
.flex-control-paging li a:hover {background:#5eafcd;}
.flex-control-paging li a.flex-active {background:#5eafcd;cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}