{Fei:include file="Public/header.html"}
<div role="main" id="main" class="container_12 clearfix">
    {Fei:include file="Public/toolbar.html"}
    {Fei:include file="Public/nav.html"}
    <div id="Dialog_add_assets" title="添加固定资产">
        <form id="add_assets" class="full valudate">
            <input type="hidden" name="action" value="add"> 
            <div class="row">
                <label for="name">
                    物品
                </label>
                <div>
                    <input type="text" name="name">
                </div>
            </div>
            <div class="row">
                <label for="sum">
                    价值
                </label>
                <div>
                    <input type="text" name="sum">
                </div>
            </div>
            <div class="row">
                <label for="time">
                    购买时间
                </label>
                <div>
                    <input type="date" name="time">
                </div>
            </div>
            <div class="row">
                <label for="remark">
                    备注
                </label>
                <div>
                    <textarea name="remark"></textarea>
                </div>
            </div>
        </form>
        <div class="actions">
            <div class="left">
                <button class="red cancel">取消</button>
            </div>
            <div class="right">
                <button class="submit">提交</button>
            </div>
        </div>
    </div>
    <div id="Dialog_del" title="删除数据">
        <div class="content">
            <p>是否删除？</p>
        </div>
        <div class="actions">
            <div class="left">
                <button class="red cancel">取消</button>
            </div>
            <div class="right">
                <button class="submit">确定</button>
            </div>
        </div>
    </div>
     <section id="content" class="container_12 clearfix">
        <h1 class="grid_12">
            <span>固定资产</span>
        </h1>
        <div class="grid_12">
            <div class="box with-table"> 
                <div class="header"> 
                    <h2>
                        <img class="icon" src="{Fei:$STATICS}img/icons/packs/fugue/16x16/newspaper.png">
                        固定资产列表
                    </h2> 
                    <a href="javascript:void(0);" class="menu icon-pencil add_assets" title="添加固定资产"></a>
                </div> 
                <div class="content"> 
                    <div id="jiechu">
                        <table class="styled">
                            <thead>
                            <tr>
                                <th>物品</th>
                                <th>价值</th>
                                <th>时间</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="assets">
                                
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
     </section>
</div>
<script type="text/javascript">
    $(function(){
        Assets.init()
    })
    //Assets
    var Assets = {
        aa:$("#Dialog_add_assets"),
        da:$("#Dialog_del"),
        del_id:null,
        init:function(){
            //Add assets
            Assets.aa.dialog().find('button.submit').click(function(){
                $.post('#',$("#add_assets").serialize(),function(result){
                    if(result.status == 'success'){
                        $.jGrowl('添加成功!',{header:'固定资产',theme:'wood'})
                        Assets.aa.dialog("close")
                        $("#add_assets")[0].reset()
                        Assets.getAll()
                    }else if(result.status == 'error'){
                        $.jGrowl('添加失败!',{header:'固定资产',theme:'wood'})
                    }
                },'json')
            }).end().find('.cancel').click(function(){
                Assets.aa.dialog("close")
            })
            //Del assets
            Assets.da.dialog().find('button.submit').click(function(){
                $.post('#',{action:'del',id:Assets.del_id},function(result){
                    if(result.status == 'success'){
                        $.jGrowl('删除成功!',{header:'固定资产',theme:'wood'})
                        Assets.getAll()
                        Assets.da.dialog('close')
                    }else if(result.status == 'error'){
                        $.jGrowl('删除失败!',{header:'固定资产',theme:'wood'})
                    }
                },'json')
            })
            $(".add_assets").click(function(){
                Assets.aa.dialog('open')
            })
            Assets.getAll()
        },
        getAll:function(){
            $.post('#',{action:'getAll'},function(result){
                if(result.status == 'success'){
                    var content = ''
                    if(result.back.length == 0){
                        content = "\
                                <div class=\"alert note\"> \
                                <span class=\"icon\"></span>\
                                <span class=\"close\">x</span>\
                                 没有固定资产,请添加 :-) \
                                </div>\
                        "
                    }else{
                        for(var i = 0;i < result.back.length;i++){
                            content += "\
                                <tr>\
                                    <td>" + result.back[i].name + "</td>\
                                    <td>\
                                        <span class=\"badge blue\">\
                                            ￥" + result.back[i].sum + "元\
                                        </span>\
                                    </td>\
                                    <td>" + result.back[i].time + "</td>\
                                    <td>" + result.back[i].remark + "</td>\
                                    <td>\
                                        <a href=\"#\" class=\"button small grey tooltip\" onclick=\"Assets.del(" + result.back[i].id + ",'" + result.back[i].name + "')\" title=\"Remove\">\
                                            <i class=\"icon-remove\"></i>\
                                        </a>\
                                    </td>\
                                </tr>\
                            "
                        }
                    }
                    $("#assets").html(content)
                }else if(result.status == 'error'){
                    $.jGrowl('列表加载错误!',{header:'固定资产',theme:'wood'})
                }
            },'json')
        },
        del:function(id,name){console.log(id+name)
            Assets.del_id = id
            Assets.da.dialog('option','title','删除固定资产[' + name + ']')
            Assets.da.dialog("open")
        }
    }
</script>
{Fei:include file="Public/footer.html"}