/* Tabs
----------------------------------*/
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {float:left;
	background-image:url(../../images/tab_selected_bg.png);
	background-position:0 0;
	background-repeat:no-repeat;
	width:140px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: pointer; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-hide { display: none !important; }
