{Fei:include file="Public/header.html"}
<div role="main" id="main" class="container_12 clearfix">
    {Fei:include file="Public/toolbar.html"}
    {Fei:include file="Public/nav.html"}
    <div id="Dialog_add_password" title="添加密码">
        <form id="add_password_form" class="full validate no-box">
            <input type="hidden" name="action" value="add_pwd">
            <input type="hidden" name="catid">
            <input type="hidden" name="id">
            <div class="row" id="edit_cate">
                <label for="password_cate">
                    <strong>分类</strong>
                </label>
                <div class="_80 input">
                    <select name="password_cate" placeholder="分类" title="选择分类">
                        {Fei:foreach from=$pcates item=p}
                        <option value="{Fei:$p.id}">
                            {Fei:$p.name}
                        </option>
                        {Fei:/foreach}
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="password_title">
                    <strong>
                        标题
                    </strong>
                </label>
                <div class="_80 input">
                    <input type="text" class="required" name="password_title">
                </div>
            </div>
            <div class="row">
                <label for="password_website">
                    <strong>
                        网址
                    </strong>
                </label>
                <div class="_80 input">
                    <input type="text" class="required" name="password_website">
                </div>
            </div>
            <div class="row">
                <label for="password_username">
                    <strong>
                        账户名
                    </strong>
                </label>
                <div class="_80 input">
                    <input type="text" class="required" name="password_username">
                </div>
            </div>
            <div class="row">
                <label for="password_password">
                    <strong>
                        密码
                    <i class="icon-refresh tooltip" title="生成密码：请先在密码框中输入要生成的密码位数.默认8位" id="generate_password" ></i>
                    </strong>
                </label>
                <div class="_80 input">
                    <input type="text" class="required" name="password_password">
                </div>
            </div>
            <div class="row">
                <label for="password_remark">
                    <strong>备注</strong>
                </label>
                <div class="_80 input">
                    <textarea name="password_remark" id="password_remark"></textarea>
                </div>
            </div>
        </form>
        <div class="actions">
            <div class="left">
                <button class="grey cancel">
                    取消
                </button>
            </div>
            <div class="right">
                <button class="submit">
                    确定
                </button>
            </div>
        </div>
    </div>
    <div id="Dialog_del_password" title="删除提示！">
        <p>
            确定删除这个密码记录？
        </p>
        <div class="actions">
            <div class="left">
                <button class="grey cancel">
                    取消
                </button>
            </div>
            <div class="right">
                <button class="submit">
                    确定
                </button>
            </div>
        </div>
    </div>
    <div id="Dialog_add_cate" title="添加分类">
        <form id="add_cate_form" class="full validate">
            <input type="hidden" name="action" value="add_cate">
            <div class="row">
                <label for="cate_title">
                    <strong>名称</strong>
                </label>
                <div class="_80 input">
                    <input type="text" name="cate_title">
                </div>
            </div>
        </form>
        <div class="actions">
            <div class="left">
                <button class="grey cancel">取消</button>
            </div>
            <div class="right">
                <button class="submit">确定</button>
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <form action="">
            <h3>
                分类管理
            </h3>
            <div class="block" id="pcates">
                <div>
                    <span class="badge blue light icon-user-md">
                        工作
                    </span>
                    <div class="right inline" id="m_b">
                        <a href="javascript:void(0)" class="button small grey tooltip" data-gravity="e" original-title="修改">
                            <i class="icon-pencil"></i>
                        </a>
                        <a href="javascript:void(0)" onclick="Todo.del_tag(1)" class="button small grey tooltip" data-gravity="w" original-title="删除【工作】">
                            <i class="icon-remove"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="buttons">
                    <a href="javascript:void(0);" class="button grey open_ac">
                        添加一个分类
                    </a>
                </div> 
            </div>
        </form>
    </div>
     <section id="content" class="container_12 clearfix with-right-sidebar"
    data-sort=true>
        <h1 class="grid_12"><span>
            密码保险箱
        </span></h1>
        <div class="grid_12">
            <div class="box">
                <div class="header">
                    <h2>
                        密码分类
                    </h2>
                    <a href="javascript:void(0);" id="refresh_pwd" class="menu icon-refresh" title="刷新"></a>
                </div>
                <div class="accordion">
                    {Fei:foreach from=$pcates item=p}
                    <h3>
                        <span></span>
                        <a href="#">
                            <span class="badge badge blue light icon-user-md">
                                <strong>{Fei:$p.name}</strong> (<div style="display:inline" class="cate_{Fei:$p.id}">15</div>项)
                            </span>
                        </a>
                    </h3>
                    <div>
                        <div class="tabletools">
                            <div class="left">
                                <a onclick="Pwd.add({Fei:$p.id})" href="javascript:void(0);">
                                    <i class="icon-plus"></i>
                                    添加密码
                                </a>
                            </div>
                            <div class="right">
                                <a href="javascript:void(0);">
                                    <i class="icon-pencil"></i>
                                    编辑栏目
                                </a>
                                <a href="javascript:void(0);">
                                    <i class="icon-remove"></i>
                                    查看栏目信息
                                </a>
                            </div>
                        </div>
                        <table class="styled">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>用户名</th>
                                    <th>密码</th>
                                    <th>备注</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="pwd_content{Fei:$p.id}">
                            </tbody>
                        </table>
                    </div>
                    {Fei:/foreach}
                </div>
            </div>
        </div>
     </section>
</div>
<style type="text/css">
    /*消除图标对于accordion的白线影响*/
    .ui-accordion .ui-accordion-header a {
        display: block;
        font-size: 1em;
        padding: .4em .5em .3em .7em;
    }
    .ui-accordion .ui-accordion-header a span{
        padding-left: 15px;
    }
</style>
<script type="text/javascript">
    /* Pwd class */
    var Pwd = {
        url:"{Fei:FeiUrl('password')}",
        ap:$("#Dialog_add_password"),
        dp:$("#Dialog_del_password"),
        delid:null,
        init:function(){
            /* Add password dialog */
            Pwd.ap.dialog({
                autoOpen:false,
                close:function(){
                    Pwd.ap.find('form')[0].reset()
                },
                open: function(){
                    $(this).parent().css('overflow', 'visible');
                    $$.utils.forms.resize()
                }
            }).find('button.submit').click(function(){
                $.post(Pwd.url,$("#add_password_form").serialize(),function(result){
                    if(result.status == 'success'){
                        Pwd.get()
                        Pwd.ap.dialog('close')
                    }else if(result.status == 'error'){
                        console.log('error')
                    }
                },'json')
            }).end().find('cancel').click(function(){
                Pwd.ap.dialog("close")
            })
            $(".open_ap").click(function(){
                Pwd.ap.dialog("open")
            })
            /* Del password dialog */
            Pwd.dp.dialog({
                autoOpen:false,
                open: function(){
                    $(this).parent().css('overflow', 'visible');
                    $$.utils.forms.resize()
                }
            }).find('button.submit').click(function(){
                $.post(Pwd.url,{action:'del_pwd',id:Pwd.delid},function(result){
                    if(result.status == 'success'){
                        Pwd.get()
                        Pwd.dp.dialog("close")
                    }else if(result.status == 'error'){
                        console.log('error')
                    }
                },'json')
            }).end().find('cancel').click(function(){
                Pwd.dp.dialog("close")
            })
            /* Generate password */
            $("#generate_password").click(function(){
                var length = $("input[name=password_password]")
                if(length.val() != null && parseInt(length.val()) == length.val()){
                    length.val(Pwd.password(length.val(),true))
                }else{
                    length.val(Pwd.password(8,true))
                }
            })
            /* Refresh password */
            $("#refresh_pwd").click(function(){
                Pwd.get()
            })
            /* Hide cate for add */
            $("#edit_cate").hide()
            /* Dialog add cate */
            var ac = $("#Dialog_add_cate")
            ac.dialog({
                autoOpen:false,
                open: function(){
                    $(this).parent().css('overflow', 'visible');
                    $$.utils.forms.resize()
                }
            }).find('button.submit').click(function(){
                $.post(Pwd.url,$("#add_cate_form").serialize(),function(result){
                    if(result.status == 'success'){
                        Pwd.pcates()
                        ac.dialog("close")
                    }else if(result.status == 'error'){
                        alert('error')
                    }
                },'json')
            }).end().find('.cancel').click(function(){
                ac.dialog("close")
            })

            $(".open_ac").click(function(){
                ac.dialog("open")
            })
        },
        password:function(length, special){
          var iteration = 0
          var password = ""
          var randomNumber
          if(special == undefined){
              var special = false
          }
          while(iteration < length){
            randomNumber = (Math.floor((Math.random() * 100)) % 94) + 33;
            if(!special){
              if ((randomNumber >=33) && (randomNumber <=47)) { continue; }
              if ((randomNumber >=58) && (randomNumber <=64)) { continue; }
              if ((randomNumber >=91) && (randomNumber <=96)) { continue; }
              if ((randomNumber >=123) && (randomNumber <=126)) { continue; }
            }
            iteration++;
            password += String.fromCharCode(randomNumber);
          }
          return password
        },
        add:function(catid){
            $("#edit_cate").hide()
            $("input[name=action]").val('add_pwd')
            $("input[name=catid]").val(catid)
            Pwd.ap.dialog('open')
        },
        del:function(id){
            Pwd.delid = id
            Pwd.dp.dialog("open")
        },
        edit:function(id){
            $("input[name=id]").val(id)
            $.post(Pwd.url,{action:'get_info',id:id},function(result){
                $("#edit_cate").show()
                Pwd.ap.dialog('option','title','修改密码')
                $("select[name=password_cate]").val('业务')
                $("input[name=action]").val('edit_pwd')
                $("input[name=password_title]").val(result.back.title)
                $("input[name=password_weisite").val(result.back.website)
                $("input[name=password_username]").val(result.back.username)
                $("input[name=password_password]").val(result.back.password)
                $("textarea[name=password_remark]").val(result.back.remark)
                Pwd.ap.dialog("open")
                console.log(result.back)
            },'json')
        },
        pcates:function(){
            $("#pcates").load(Pwd.url,{action:'pcates'},function(){
                console.log('pwd cate load success')
            })
        },
        get:function(){
            {Fei:foreach from=$pcates item=p}
            $("#pwd_content{Fei:$p.id}").load(Pwd.url,{action:'get_password',id:{Fei:$p.id}},function(){
                console.log('password load success')
                /* 消除由于AJAX获取数据导致的手风琴滚动条 */
                $(".ui-accordion-content").css('height','auto')
                $(".cate_{Fei:$p.id}").text($("#pwd_content{Fei:$p.id}").children('tr').length)
            })
            {Fei:/foreach}
            $.jGrowl('密码列表刷新成功',{'header':'密码保险箱',theme:'wood'})
        }
    }
    Pwd.init()
    Pwd.pcates()
    Pwd.get()
</script>
{Fei:include file="Public/footer.html"}