<script>
    $$.loaded();
    //weather
    $(function(){
        setInterval(get_weather, 3600000);
    })
    function get_weather(){
        $.post("{Fei:FeiUrl('Grw','weather')}",function(result){
            if(result.status == 'success'){
                var html = "\
                <img src=\"http://www.grw.name/statics/img/icons/weather/" + result.ico + ".png\" width=\"40\" title=\"" + result.weather + "\">\
                <div>\
                    <p>" + result.td + "[" + result.week + "](" + result.nl + ") " + result.wd + "</p>\
                    <p>[明]" + result.mtq + "(" + result.mtd + ")[后]" + result.htq + "(" + result.htd + ")</p>\
                </div>"
                $(".weather").html(html)
            }else if(result.status == 'error'){
                console.log('error')
                //get_weather()
            }
        },'json')
    }

    //Calc
    $("#dialog_calc").dialog({
        autoOpen: false,
        height:620,
        width:540,
        position:['right','center']
    });
    function Show_Calc(){
        $("#dialog_calc").dialog("open");
    }
    //GET TODO ALERT
    get_todo()
    function get_todo(){
        // console.log($.cookie('Fei_Todo'));
        // console.log('JSON:' + $.cookie('Fei_Todo'));
        var todo = "{root:" + $.cookie('Fei_Todo') + "}";
        var obj = new Function("return" + todo)();//转换JSON
        //var todo_count = obj.root.length;//如果没有数据会报错
        var nowdate = new Date();
        if(nowdate.getHours()==0){//Convert Js Hour
            var nowhour = 12;
        }else{
            var nowhour = nowdate.getHours();
        }
        // for(var i = 0;i < todo_count;i++){
        //     console.log('-----------------------------------------------');
        //     console.log('COUNT:' + obj.root.length);
        //     console.log('NOW:' + nowhour + ':' + nowdate.getMinutes());
        //     console.log('END:' + obj.root[i].h + ':' + obj.root[i].m);
        //     console.log('NAME:' + obj.root[i].name + ':' + obj.root[i].remark);
        //     console.log('-----------------------------------------------');
        //     if(nowhour == obj.root[i].h){
        //         var diff = nowdate.getMinutes() - obj.root[i].m;
        //         console.log(diff);
        //         setTimeout("$.jGrowl('asdfasdfasdf<br />asdfasdf',{theme:'todo',sticky:true})",60000*diff);//1 Min
        //     }
        // }
    }
    //Alert Content
    $("#alert").load("{Fei:FeiUrl('Grw','alert')}",function(){
        console.log('alert load success')
    })

</script>
<!--[if lt IE]>
    <script defer src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js">
    </script>
    <script defer>
        window.attachEvent('onload',
        function() {
            CFInstall.check({
                mode: 'overlay'
            })
        })
    </script>
<![endif]-->
</body>
</html>